//! **************************************************************************
// Written by: Map P.40xd on Sat Apr 16 02:53:24 2022
//! **************************************************************************

SCHEMATIC START;
COMP "clk" LOCATE = SITE "T8" LEVEL 1;
COMP "monitor<0>" LOCATE = SITE "P4" LEVEL 1;
COMP "monitor<1>" LOCATE = SITE "N5" LEVEL 1;
COMP "monitor<2>" LOCATE = SITE "P5" LEVEL 1;
COMP "monitor<3>" LOCATE = SITE "M6" LEVEL 1;
COMP "rst_in" LOCATE = SITE "C3" LEVEL 1;
COMP "clk_int" LOCATE = SITE "K16" LEVEL 1;
TIMEGRP sys_clk_pin = BEL "XLXI_102" BEL "XLXI_173/XLXI_1/XLXI_2/COUNT_0" BEL
        "XLXI_173/XLXI_1/XLXI_2/COUNT_1" BEL "XLXI_173/XLXI_1/XLXI_2/COUNT_2"
        BEL "XLXI_173/XLXI_1/XLXI_2/COUNT_3" BEL
        "XLXI_173/XLXI_1/XLXI_2/COUNT_4" BEL "XLXI_173/XLXI_1/XLXI_2/COUNT_5"
        BEL "XLXI_173/XLXI_1/XLXI_2/COUNT_6" BEL
        "XLXI_173/XLXI_1/XLXI_2/COUNT_7" BEL "XLXI_173/XLXI_1/XLXI_2/COUNT_8"
        BEL "XLXI_173/XLXI_1/XLXI_2/COUNT_9" BEL
        "XLXI_173/XLXI_1/XLXI_2/COUNT_10" BEL
        "XLXI_173/XLXI_1/XLXI_2/COUNT_11" BEL
        "XLXI_173/XLXI_1/XLXI_2/COUNT_12" BEL
        "XLXI_173/XLXI_1/XLXI_2/COUNT_13" BEL
        "XLXI_173/XLXI_1/XLXI_2/COUNT_14" BEL
        "XLXI_173/XLXI_1/XLXI_2/COUNT_15" BEL "XLXI_173/XLXI_1/XLXI_1/COUNT_0"
        BEL "XLXI_173/XLXI_1/XLXI_1/COUNT_1" BEL
        "XLXI_173/XLXI_1/XLXI_1/COUNT_2" BEL "XLXI_173/XLXI_1/XLXI_1/COUNT_3"
        BEL "XLXI_173/XLXI_1/XLXI_1/COUNT_4" BEL
        "XLXI_173/XLXI_1/XLXI_1/COUNT_5" BEL "XLXI_173/XLXI_1/XLXI_1/COUNT_6"
        BEL "XLXI_173/XLXI_1/XLXI_1/COUNT_7" BEL
        "XLXI_173/XLXI_1/XLXI_1/COUNT_8" BEL "XLXI_173/XLXI_1/XLXI_1/COUNT_9"
        BEL "XLXI_173/XLXI_1/XLXI_1/COUNT_10" BEL
        "XLXI_173/XLXI_1/XLXI_1/COUNT_11" BEL
        "XLXI_173/XLXI_1/XLXI_1/COUNT_12" BEL
        "XLXI_173/XLXI_1/XLXI_1/COUNT_13" BEL
        "XLXI_173/XLXI_1/XLXI_1/COUNT_14" BEL
        "XLXI_173/XLXI_1/XLXI_1/COUNT_15" BEL "clck_gen/XLXI_4/q_tmp" BEL
        "XLXI_9/XLXI_15/Q_6" BEL "XLXI_9/XLXI_15/Q_5" BEL "XLXI_9/XLXI_15/Q_4"
        BEL "XLXI_9/XLXI_15/Q_3" BEL "XLXI_9/XLXI_15/Q_2" BEL
        "XLXI_9/XLXI_15/Q_1" BEL "XLXI_9/XLXI_15/Q_0" BEL "XLXI_9/XLXI_15/Q_7"
        BEL "XLXI_104/Q_6" BEL "XLXI_104/Q_5" BEL "XLXI_104/Q_4" BEL
        "XLXI_104/Q_3" BEL "XLXI_104/Q_2" BEL "XLXI_104/Q_1" BEL
        "XLXI_104/Q_0" BEL "XLXI_104/Q_7" BEL "XLXI_122/XLXI_5/Q_6" BEL
        "XLXI_122/XLXI_5/Q_5" BEL "XLXI_122/XLXI_5/Q_4" BEL
        "XLXI_122/XLXI_5/Q_3" BEL "XLXI_122/XLXI_5/Q_2" BEL
        "XLXI_122/XLXI_5/Q_1" BEL "XLXI_122/XLXI_5/Q_0" BEL
        "XLXI_122/XLXI_5/Q_7" BEL "XLXI_123/XLXI_5/Q_6" BEL
        "XLXI_123/XLXI_5/Q_5" BEL "XLXI_123/XLXI_5/Q_4" BEL
        "XLXI_123/XLXI_5/Q_3" BEL "XLXI_123/XLXI_5/Q_2" BEL
        "XLXI_123/XLXI_5/Q_1" BEL "XLXI_123/XLXI_5/Q_0" BEL
        "XLXI_123/XLXI_5/Q_7" BEL "XLXI_124/XLXI_5/Q_6" BEL
        "XLXI_124/XLXI_5/Q_5" BEL "XLXI_124/XLXI_5/Q_4" BEL
        "XLXI_124/XLXI_5/Q_3" BEL "XLXI_124/XLXI_5/Q_2" BEL
        "XLXI_124/XLXI_5/Q_1" BEL "XLXI_124/XLXI_5/Q_0" BEL
        "XLXI_124/XLXI_5/Q_7" BEL "XLXI_125/XLXI_5/Q_6" BEL
        "XLXI_125/XLXI_5/Q_5" BEL "XLXI_125/XLXI_5/Q_4" BEL
        "XLXI_125/XLXI_5/Q_3" BEL "XLXI_125/XLXI_5/Q_2" BEL
        "XLXI_125/XLXI_5/Q_1" BEL "XLXI_125/XLXI_5/Q_0" BEL
        "XLXI_125/XLXI_5/Q_7" BEL "XLXI_126/XLXI_5/Q_6" BEL
        "XLXI_126/XLXI_5/Q_5" BEL "XLXI_126/XLXI_5/Q_4" BEL
        "XLXI_126/XLXI_5/Q_3" BEL "XLXI_126/XLXI_5/Q_2" BEL
        "XLXI_126/XLXI_5/Q_1" BEL "XLXI_126/XLXI_5/Q_0" BEL
        "XLXI_126/XLXI_5/Q_7" BEL "XLXI_127/XLXI_5/Q_6" BEL
        "XLXI_127/XLXI_5/Q_5" BEL "XLXI_127/XLXI_5/Q_4" BEL
        "XLXI_127/XLXI_5/Q_3" BEL "XLXI_127/XLXI_5/Q_2" BEL
        "XLXI_127/XLXI_5/Q_1" BEL "XLXI_127/XLXI_5/Q_0" BEL
        "XLXI_127/XLXI_5/Q_7" BEL "XLXI_128/XLXI_5/Q_6" BEL
        "XLXI_128/XLXI_5/Q_5" BEL "XLXI_128/XLXI_5/Q_4" BEL
        "XLXI_128/XLXI_5/Q_3" BEL "XLXI_128/XLXI_5/Q_2" BEL
        "XLXI_128/XLXI_5/Q_1" BEL "XLXI_128/XLXI_5/Q_0" BEL
        "XLXI_128/XLXI_5/Q_7" BEL "XLXI_129/XLXI_5/Q_6" BEL
        "XLXI_129/XLXI_5/Q_5" BEL "XLXI_129/XLXI_5/Q_4" BEL
        "XLXI_129/XLXI_5/Q_3" BEL "XLXI_129/XLXI_5/Q_2" BEL
        "XLXI_129/XLXI_5/Q_1" BEL "XLXI_129/XLXI_5/Q_0" BEL
        "XLXI_129/XLXI_5/Q_7" BEL "XLXI_87/Q2" BEL "XLXI_87/Q1" BEL
        "XLXI_87/Q0" BEL "XLXI_87/Q3" BEL "clk_IBUF_BUFG" BEL "sysbus<7>" BEL
        "sysbus<6>" BEL "sysbus<5>" BEL "sysbus<4>" BEL "sysbus<3>" BEL
        "sysbus<2>" BEL "sysbus<1>" BEL "sysbus<0>" BEL "clk_int" BEL "iar_w"
        BEL "XLXI_9/XLXI_23/D" BEL "XLXI_9/XLXI_23/C" BEL "XLXI_9/XLXI_23/B"
        BEL "XLXI_9/XLXI_23/A" BEL "XLXI_9/XLXI_22/D" BEL "XLXI_9/XLXI_22/C"
        BEL "XLXI_9/XLXI_22/B" BEL "XLXI_9/XLXI_22/A" BEL "XLXI_9/XLXI_21/D"
        BEL "XLXI_9/XLXI_21/C" BEL "XLXI_9/XLXI_21/B" BEL "XLXI_9/XLXI_21/A"
        BEL "XLXI_9/XLXI_20/D" BEL "XLXI_9/XLXI_20/C" BEL "XLXI_9/XLXI_20/B"
        BEL "XLXI_9/XLXI_20/A" BEL "XLXI_9/XLXI_19/D" BEL "XLXI_9/XLXI_19/C"
        BEL "XLXI_9/XLXI_19/B" BEL "XLXI_9/XLXI_19/A" BEL "XLXI_9/XLXI_18/D"
        BEL "XLXI_9/XLXI_18/C" BEL "XLXI_9/XLXI_18/B" BEL "XLXI_9/XLXI_18/A"
        BEL "XLXI_9/XLXI_17/D" BEL "XLXI_9/XLXI_17/C" BEL "XLXI_9/XLXI_17/B"
        BEL "XLXI_9/XLXI_17/A" BEL "XLXI_9/XLXI_1/D" BEL "XLXI_9/XLXI_1/C" BEL
        "XLXI_9/XLXI_1/B" BEL "XLXI_9/XLXI_1/A";
TS_sys_clk_pin = PERIOD TIMEGRP "sys_clk_pin" 50 MHz HIGH 50%;
SCHEMATIC END;

