//! **************************************************************************
// Written by: Map P.40xd on Tue Apr 26 21:59:51 2022
//! **************************************************************************

SCHEMATIC START;
COMP "monitor<0>" LOCATE = SITE "P4" LEVEL 1;
COMP "monitor<1>" LOCATE = SITE "N5" LEVEL 1;
COMP "monitor<2>" LOCATE = SITE "P5" LEVEL 1;
COMP "monitor<3>" LOCATE = SITE "M6" LEVEL 1;
COMP "in_clk" LOCATE = SITE "T8" LEVEL 1;
COMP "in_rst" LOCATE = SITE "C3" LEVEL 1;
COMP "out_clk_int" LOCATE = SITE "K16" LEVEL 1;
TIMEGRP sys_clk_pin = BEL "XLXI_102" BEL "XLXI_122/XLXI_5/Q_6" BEL
        "XLXI_122/XLXI_5/Q_5" BEL "XLXI_122/XLXI_5/Q_4" BEL
        "XLXI_122/XLXI_5/Q_3" BEL "XLXI_122/XLXI_5/Q_2" BEL
        "XLXI_122/XLXI_5/Q_1" BEL "XLXI_122/XLXI_5/Q_0" BEL
        "XLXI_122/XLXI_5/Q_7" BEL "XLXI_123/XLXI_5/Q_6" BEL
        "XLXI_123/XLXI_5/Q_5" BEL "XLXI_123/XLXI_5/Q_4" BEL
        "XLXI_123/XLXI_5/Q_3" BEL "XLXI_123/XLXI_5/Q_2" BEL
        "XLXI_123/XLXI_5/Q_1" BEL "XLXI_123/XLXI_5/Q_0" BEL
        "XLXI_123/XLXI_5/Q_7" BEL "XLXI_124/XLXI_5/Q_6" BEL
        "XLXI_124/XLXI_5/Q_5" BEL "XLXI_124/XLXI_5/Q_4" BEL
        "XLXI_124/XLXI_5/Q_3" BEL "XLXI_124/XLXI_5/Q_2" BEL
        "XLXI_124/XLXI_5/Q_1" BEL "XLXI_124/XLXI_5/Q_0" BEL
        "XLXI_124/XLXI_5/Q_7" BEL "XLXI_126/XLXI_5/Q_6" BEL
        "XLXI_126/XLXI_5/Q_5" BEL "XLXI_126/XLXI_5/Q_4" BEL
        "XLXI_126/XLXI_5/Q_3" BEL "XLXI_126/XLXI_5/Q_2" BEL
        "XLXI_126/XLXI_5/Q_1" BEL "XLXI_126/XLXI_5/Q_0" BEL
        "XLXI_126/XLXI_5/Q_7" BEL "XLXI_127/XLXI_5/Q_6" BEL
        "XLXI_127/XLXI_5/Q_5" BEL "XLXI_127/XLXI_5/Q_4" BEL
        "XLXI_127/XLXI_5/Q_3" BEL "XLXI_127/XLXI_5/Q_2" BEL
        "XLXI_127/XLXI_5/Q_1" BEL "XLXI_127/XLXI_5/Q_0" BEL
        "XLXI_127/XLXI_5/Q_7" BEL "XLXI_128/XLXI_5/Q_6" BEL
        "XLXI_128/XLXI_5/Q_5" BEL "XLXI_128/XLXI_5/Q_4" BEL
        "XLXI_128/XLXI_5/Q_3" BEL "XLXI_128/XLXI_5/Q_2" BEL
        "XLXI_128/XLXI_5/Q_1" BEL "XLXI_128/XLXI_5/Q_0" BEL
        "XLXI_128/XLXI_5/Q_7" BEL "XLXI_129/XLXI_5/Q_6" BEL
        "XLXI_129/XLXI_5/Q_5" BEL "XLXI_129/XLXI_5/Q_4" BEL
        "XLXI_129/XLXI_5/Q_3" BEL "XLXI_129/XLXI_5/Q_2" BEL
        "XLXI_129/XLXI_5/Q_1" BEL "XLXI_129/XLXI_5/Q_0" BEL
        "XLXI_129/XLXI_5/Q_7" BEL "XLXI_125/XLXI_5/Q_6" BEL
        "XLXI_125/XLXI_5/Q_5" BEL "XLXI_125/XLXI_5/Q_4" BEL
        "XLXI_125/XLXI_5/Q_3" BEL "XLXI_125/XLXI_5/Q_2" BEL
        "XLXI_125/XLXI_5/Q_1" BEL "XLXI_125/XLXI_5/Q_0" BEL
        "XLXI_125/XLXI_5/Q_7" BEL "clck_gen/XLXI_4/q_tmp" BEL
        "XLXI_9/XLXI_15/Q_6" BEL "XLXI_9/XLXI_15/Q_5" BEL "XLXI_9/XLXI_15/Q_4"
        BEL "XLXI_9/XLXI_15/Q_3" BEL "XLXI_9/XLXI_15/Q_2" BEL
        "XLXI_9/XLXI_15/Q_1" BEL "XLXI_9/XLXI_15/Q_0" BEL "XLXI_9/XLXI_15/Q_7"
        BEL "XLXI_104/Q_6" BEL "XLXI_104/Q_5" BEL "XLXI_104/Q_4" BEL
        "XLXI_104/Q_3" BEL "XLXI_104/Q_2" BEL "XLXI_104/Q_1" BEL
        "XLXI_104/Q_0" BEL "XLXI_104/Q_7" BEL "XLXI_87/Q2" BEL "XLXI_87/Q1"
        BEL "XLXI_87/Q0" BEL "XLXI_87/Q3" BEL "out_alu_x<7>" BEL
        "out_alu_x<6>" BEL "out_alu_x<5>" BEL "out_alu_x<4>" BEL
        "out_alu_x<3>" BEL "out_alu_x<2>" BEL "out_alu_x<1>" BEL
        "out_alu_x<0>" BEL "out_sysbus<7>" BEL "out_sysbus<6>" BEL
        "out_sysbus<5>" BEL "out_sysbus<4>" BEL "out_sysbus<3>" BEL
        "out_sysbus<2>" BEL "out_sysbus<1>" BEL "out_sysbus<0>" BEL "manr_r"
        BEL "out_acc_r" BEL "out_acc_w" BEL "out_alu_C_in" BEL "out_alu_C_out"
        BEL "out_alu_eq" BEL "out_alu_gt" BEL "out_alu_z" BEL "out_bus1" BEL
        "out_can_read" BEL "out_clk" BEL "out_clkr" BEL "out_clkw" BEL
        "out_clk_int" BEL "out_C_in_enabled" BEL "out_flags_clr" BEL
        "out_flags_w" BEL "out_iar_r" BEL "out_iar_w" BEL "out_ir_w" BEL
        "out_ram_a_w" BEL "out_ram_r" BEL "out_ram_w" BEL "out_r0_r" BEL
        "out_r0_w" BEL "out_r1_r" BEL "out_r1_w" BEL "out_r2_r" BEL "out_r2_w"
        BEL "out_r3_r" BEL "out_r3_w" BEL "out_sysbus_released" BEL
        "out_temp_w" BEL "XLXI_9/XLXI_23/D" BEL "XLXI_9/XLXI_23/C" BEL
        "XLXI_9/XLXI_23/B" BEL "XLXI_9/XLXI_23/A" BEL "XLXI_9/XLXI_22/D" BEL
        "XLXI_9/XLXI_22/C" BEL "XLXI_9/XLXI_22/B" BEL "XLXI_9/XLXI_22/A" BEL
        "XLXI_9/XLXI_21/D" BEL "XLXI_9/XLXI_21/C" BEL "XLXI_9/XLXI_21/B" BEL
        "XLXI_9/XLXI_21/A" BEL "XLXI_9/XLXI_20/D" BEL "XLXI_9/XLXI_20/C" BEL
        "XLXI_9/XLXI_20/B" BEL "XLXI_9/XLXI_20/A" BEL "XLXI_9/XLXI_19/D" BEL
        "XLXI_9/XLXI_19/C" BEL "XLXI_9/XLXI_19/B" BEL "XLXI_9/XLXI_19/A" BEL
        "XLXI_9/XLXI_18/D" BEL "XLXI_9/XLXI_18/C" BEL "XLXI_9/XLXI_18/B" BEL
        "XLXI_9/XLXI_18/A" BEL "XLXI_9/XLXI_17/D" BEL "XLXI_9/XLXI_17/C" BEL
        "XLXI_9/XLXI_17/B" BEL "XLXI_9/XLXI_17/A" BEL "XLXI_9/XLXI_1/D" BEL
        "XLXI_9/XLXI_1/C" BEL "XLXI_9/XLXI_1/B" BEL "XLXI_9/XLXI_1/A";
TS_sys_clk_pin = PERIOD TIMEGRP "sys_clk_pin" 50 MHz HIGH 50%;
SCHEMATIC END;

