//! **************************************************************************
// Written by: Map P.40xd on Sat Apr 16 01:35:14 2022
//! **************************************************************************

SCHEMATIC START;
COMP "clk_out" LOCATE = SITE "K16" LEVEL 1;
COMP "clk_in" LOCATE = SITE "T8" LEVEL 1;
COMP "rst" LOCATE = SITE "C3" LEVEL 1;
TIMEGRP sys_clk_pin = BEL "XLXI_1/XLXI_2/COUNT_0" BEL "XLXI_1/XLXI_2/COUNT_1"
        BEL "XLXI_1/XLXI_2/COUNT_2" BEL "XLXI_1/XLXI_2/COUNT_3" BEL
        "XLXI_1/XLXI_2/COUNT_4" BEL "XLXI_1/XLXI_2/COUNT_5" BEL
        "XLXI_1/XLXI_2/COUNT_6" BEL "XLXI_1/XLXI_2/COUNT_7" BEL
        "XLXI_1/XLXI_2/COUNT_8" BEL "XLXI_1/XLXI_2/COUNT_9" BEL
        "XLXI_1/XLXI_2/COUNT_10" BEL "XLXI_1/XLXI_2/COUNT_11" BEL
        "XLXI_1/XLXI_2/COUNT_12" BEL "XLXI_1/XLXI_2/COUNT_13" BEL
        "XLXI_1/XLXI_2/COUNT_14" BEL "XLXI_1/XLXI_2/COUNT_15" BEL
        "XLXI_1/XLXI_1/COUNT_0" BEL "XLXI_1/XLXI_1/COUNT_1" BEL
        "XLXI_1/XLXI_1/COUNT_2" BEL "XLXI_1/XLXI_1/COUNT_3" BEL
        "XLXI_1/XLXI_1/COUNT_4" BEL "XLXI_1/XLXI_1/COUNT_5" BEL
        "XLXI_1/XLXI_1/COUNT_6" BEL "XLXI_1/XLXI_1/COUNT_7" BEL
        "XLXI_1/XLXI_1/COUNT_8" BEL "XLXI_1/XLXI_1/COUNT_9" BEL
        "XLXI_1/XLXI_1/COUNT_10" BEL "XLXI_1/XLXI_1/COUNT_11" BEL
        "XLXI_1/XLXI_1/COUNT_12" BEL "XLXI_1/XLXI_1/COUNT_13" BEL
        "XLXI_1/XLXI_1/COUNT_14" BEL "XLXI_1/XLXI_1/COUNT_15" BEL
        "clk_in_BUFGP/BUFG";
TS_sys_clk_pin = PERIOD TIMEGRP "sys_clk_pin" 50 MHz HIGH 50%;
SCHEMATIC END;

