//! **************************************************************************
// Written by: Map P.40xd on Sun May 22 16:45:02 2022
//! **************************************************************************

SCHEMATIC START;
COMP "out_clkw" LOCATE = SITE "B8" LEVEL 1;
COMP "in_is_clk_low" LOCATE = SITE "D3" LEVEL 1;
COMP "monitor<0>" LOCATE = SITE "P4" LEVEL 1;
COMP "in_rst" LOCATE = SITE "C3" LEVEL 1;
COMP "monitor<1>" LOCATE = SITE "N5" LEVEL 1;
COMP "monitor<2>" LOCATE = SITE "P5" LEVEL 1;
COMP "monitor<3>" LOCATE = SITE "M6" LEVEL 1;
COMP "in_clk" LOCATE = SITE "T8" LEVEL 1;
COMP "in_clk_manual" LOCATE = SITE "E4" LEVEL 1;
COMP "out_r0_w" LOCATE = SITE "C8" LEVEL 1;
COMP "out_clk_internal" LOCATE = SITE "A4" LEVEL 1;
COMP "out_clkc" LOCATE = SITE "A5" LEVEL 1;
COMP "out_clkr" LOCATE = SITE "A6" LEVEL 1;
TIMEGRP sys_clk_pin = BEL "XLXI_7/XLXI_917/COUNT_0" BEL
        "XLXI_7/XLXI_917/COUNT_1" BEL "XLXI_7/XLXI_917/COUNT_2" BEL
        "XLXI_7/XLXI_917/COUNT_3" BEL "XLXI_7/XLXI_914/COUNT_0" BEL
        "XLXI_7/XLXI_914/COUNT_1" BEL "XLXI_7/XLXI_914/COUNT_2" BEL
        "XLXI_7/XLXI_914/COUNT_3" BEL "XLXI_7/XLXI_914/COUNT_4" BEL
        "XLXI_7/XLXI_914/COUNT_5" BEL "XLXI_7/XLXI_914/COUNT_6" BEL
        "XLXI_7/XLXI_914/COUNT_7" BEL "XLXI_7/XLXI_914/COUNT_8" BEL
        "XLXI_7/XLXI_914/COUNT_9" BEL "XLXI_7/XLXI_914/COUNT_10" BEL
        "XLXI_7/XLXI_914/COUNT_11" BEL "XLXI_7/XLXI_914/COUNT_12" BEL
        "XLXI_7/XLXI_914/COUNT_13" BEL "XLXI_7/XLXI_914/COUNT_14" BEL
        "XLXI_7/XLXI_914/COUNT_15" BEL "in_clk_BUFGP/BUFG";
TS_sys_clk_pin = PERIOD TIMEGRP "sys_clk_pin" 50 MHz HIGH 50%;
SCHEMATIC END;

