##################################################################################
## External Clock
##################################################################################
NET "in_clk" TNM_NET = "sys_clk_pin";
NET "in_clk" LOC = T8;
TIMESPEC TS_sys_clk_pin = PERIOD "sys_clk_pin" 50 MHz HIGH 50 %;

#NET "in_clk" LOC = D3 | CLOCK_DEDICATED_ROUTE = FALSE;
#NET "in_clk" CLOCK_DEDICATED_ROUTE = FALSE;
#NET "in_clk_manual" CLOCK_DEDICATED_ROUTE = FALSE;
#NET "in_clk_manual" LOC = D3;


##################################################################################
## Custom reset (external pull-up)
##################################################################################
#NET "rst_in" LOC = C3 | IOSTANDARD = "LVCMOS33"; ## RESET pushbutton
## RESET pushbutton
NET "in_rst" LOC = C3;
NET "in_is_clk_low" LOC = D3;
NET "in_clk_manual" LOC = E4;

##################################################################################
## LED Pins 
##################################################################################
#NET "monitor[0]" LOC = P4;
NET "out_clk_internal" LOC = K16;  ##  PIN3
NET "out_clkc" LOC = L16;  ##  PIN3
NET "out_clkr" LOC = M15;  ##  PIN3
NET "out_clkw" LOC = P16;  ##  PIN3

#NET "out_s1" LOC = P4;  ##  PIN3
#NET "out_s2" LOC = N5;  ##  PIN3
#NET "out_s3" LOC = P5;  ##  PIN3
#NET "out_s4" LOC = M6;  ##  PIN3

#NET "out_clkc" LOC = L16;  ##  PIN3

#NET "out_clkc" LOC = M15;  ##  PIN3
#NET "out_clkr" LOC = P16;  ##  PIN3
#NET "out_clkw" LOC = R16;  ##  PIN3

NET "monitor[0]" LOC = P4;
NET "monitor[1]" LOC = N5;
NET "monitor[2]" LOC = P5;
NET "monitor[3]" LOC = M6;
#NET "monitor[4]" LOC = M6 | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW ;
#NET "monitor[5]" LOC = M6 | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW ;
#NET "monitor[6]" LOC = M6 | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW ;
#NET "monitor[7]" LOC = M6 | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW ;



#NET "clk" LOC = T8;
#NET "led" LOC = P4;

#NET "sw[0]" LOC = C3 | IOSTANDARD = "LVCMOS33" ;
#NET "sw[1]" LOC = D3 | IOSTANDARD = "LVCMOS33" ;
#NET "sw[2]" LOC = E4 | IOSTANDARD = "LVCMOS33" ;
#NET "sw[3]" LOC = E3 | IOSTANDARD = "LVCMOS33" ;

# PlanAhead Generated IO constraints 

#NET "monitor[7]" IOSTANDARD = LVCMOS25;
#NET "monitor[6]" IOSTANDARD = LVCMOS25;
#NET "monitor[5]" IOSTANDARD = LVCMOS25;
#NET "monitor[4]" IOSTANDARD = LVCMOS25;
#NET "monitor[3]" IOSTANDARD = LVCMOS25;
#NET "monitor[2]" IOSTANDARD = LVCMOS25;
#NET "monitor[1]" IOSTANDARD = LVCMOS25;

# PlanAhead Generated physical constraints 

#NET "monitor[1]" LOC = N5;
#NET "monitor[3]" LOC = M6;
#NET "monitor[2]" LOC = P5;
