//! **************************************************************************
// Written by: Map P.40xd on Wed Apr 27 10:20:02 2022
//! **************************************************************************

SCHEMATIC START;
COMP "monitor<0>" LOCATE = SITE "P4" LEVEL 1;
COMP "in_rst" LOCATE = SITE "C3" LEVEL 1;
COMP "monitor<1>" LOCATE = SITE "N5" LEVEL 1;
COMP "monitor<2>" LOCATE = SITE "P5" LEVEL 1;
COMP "monitor<3>" LOCATE = SITE "M6" LEVEL 1;
COMP "in_clk_manual" LOCATE = SITE "T8" LEVEL 1;
COMP "out_r0_w" LOCATE = SITE "K16" LEVEL 1;
TIMEGRP sys_clk_pin = BEL "XLXI_1/XLXI_906/COUNT_0" BEL
        "XLXI_1/XLXI_906/COUNT_1" BEL "XLXI_1/XLXI_906/COUNT_2" BEL
        "XLXI_1/XLXI_906/COUNT_3" BEL "XLXI_1/XLXI_905/COUNT_0" BEL
        "XLXI_1/XLXI_905/COUNT_1" BEL "XLXI_1/XLXI_905/COUNT_2" BEL
        "XLXI_1/XLXI_905/COUNT_3" BEL "XLXI_1/XLXI_905/COUNT_4" BEL
        "XLXI_1/XLXI_905/COUNT_5" BEL "XLXI_1/XLXI_905/COUNT_6" BEL
        "XLXI_1/XLXI_905/COUNT_7" BEL "XLXI_1/XLXI_905/COUNT_8" BEL
        "XLXI_1/XLXI_905/COUNT_9" BEL "XLXI_1/XLXI_905/COUNT_10" BEL
        "XLXI_1/XLXI_905/COUNT_11" BEL "XLXI_1/XLXI_905/COUNT_12" BEL
        "XLXI_1/XLXI_905/COUNT_13" BEL "XLXI_1/XLXI_905/COUNT_14" BEL
        "XLXI_1/XLXI_905/COUNT_15" BEL "in_clk_manual_BUFGP/BUFG";
TS_sys_clk_pin = PERIOD TIMEGRP "sys_clk_pin" 50 MHz HIGH 50%;
SCHEMATIC END;

