//! **************************************************************************
// Written by: Map P.40xd on Tue Aug 09 02:31:03 2022
//! **************************************************************************

SCHEMATIC START;
COMP "in_is_bus1_w" LOCATE = SITE "P6" LEVEL 1;
COMP "in_is_clk_low" LOCATE = SITE "P88" LEVEL 1;
COMP "in_is_clk_high" LOCATE = SITE "P89" LEVEL 1;
COMP "in_manual_input_r" LOCATE = SITE "P7" LEVEL 1;
COMP "out_can_write" LOCATE = SITE "P3" LEVEL 1;
COMP "in_read_reg_en" LOCATE = SITE "P20" LEVEL 1;
COMP "in_r0_r" LOCATE = SITE "P14" LEVEL 1;
COMP "in_r1_r" LOCATE = SITE "P12" LEVEL 1;
COMP "in_r0_w" LOCATE = SITE "P122" LEVEL 1;
COMP "in_r2_r" LOCATE = SITE "P10" LEVEL 1;
COMP "in_r1_w" LOCATE = SITE "P120" LEVEL 1;
COMP "in_r3_r" LOCATE = SITE "P8" LEVEL 1;
COMP "in_r2_w" LOCATE = SITE "P119" LEVEL 1;
COMP "in_r3_w" LOCATE = SITE "P117" LEVEL 1;
COMP "in_bus1" LOCATE = SITE "P4" LEVEL 1;
COMP "in_ir_r" LOCATE = SITE "P17" LEVEL 1;
COMP "in_ir_w" LOCATE = SITE "P141" LEVEL 1;
COMP "in_temp_w" LOCATE = SITE "P123" LEVEL 1;
COMP "in_is_clk_manual" LOCATE = SITE "P87" LEVEL 1;
COMP "out_temp_w" LOCATE = SITE "P103" LEVEL 1;
COMP "out_flags_C_out" LOCATE = SITE "P26" LEVEL 1;
COMP "out_is_bus1_w" LOCATE = SITE "P5" LEVEL 1;
COMP "out_can_read" LOCATE = SITE "P21" LEVEL 1;
COMP "in_acc_r" LOCATE = SITE "P16" LEVEL 1;
COMP "in_acc_w" LOCATE = SITE "P140" LEVEL 1;
COMP "in_clk" LOCATE = SITE "P56" LEVEL 1;
COMP "in_rst" LOCATE = SITE "P24" LEVEL 1;
COMP "in_iar_r" LOCATE = SITE "P18" LEVEL 1;
COMP "in_iar_w" LOCATE = SITE "P142" LEVEL 1;
COMP "in_is_clk_external" LOCATE = SITE "P91" LEVEL 1;
COMP "in_ram_r" LOCATE = SITE "P15" LEVEL 1;
COMP "in_clk_manual" LOCATE = SITE "P95" LEVEL 1;
COMP "in_ram_w" LOCATE = SITE "P136" LEVEL 1;
COMP "out_acc_r" LOCATE = SITE "P134" LEVEL 1;
COMP "out_flags_eq" LOCATE = SITE "P23" LEVEL 1;
COMP "out_acc_w" LOCATE = SITE "P96" LEVEL 1;
COMP "out_flags_gt" LOCATE = SITE "P25" LEVEL 1;
COMP "out_s1" LOCATE = SITE "P82" LEVEL 1;
COMP "out_s2" LOCATE = SITE "P81" LEVEL 1;
COMP "out_s3" LOCATE = SITE "P77" LEVEL 1;
COMP "out_s4" LOCATE = SITE "P76" LEVEL 1;
COMP "out_s5" LOCATE = SITE "P75" LEVEL 1;
COMP "out_s6" LOCATE = SITE "P74" LEVEL 1;
COMP "out_iar_r" LOCATE = SITE "P135" LEVEL 1;
COMP "out_iar_w" LOCATE = SITE "P94" LEVEL 1;
COMP "out_ram_r" LOCATE = SITE "P132" LEVEL 1;
COMP "out_ram_w" LOCATE = SITE "P97" LEVEL 1;
COMP "in_ram_a_w" LOCATE = SITE "P139" LEVEL 1;
COMP "in_write_reg_en" LOCATE = SITE "P2" LEVEL 1;
COMP "in_is_clk_veryhigh" LOCATE = SITE "P92" LEVEL 1;
COMP "out_r0_r" LOCATE = SITE "P130" LEVEL 1;
COMP "out_r1_r" LOCATE = SITE "P126" LEVEL 1;
COMP "out_r0_w" LOCATE = SITE "P106" LEVEL 1;
COMP "out_r2_r" LOCATE = SITE "P125" LEVEL 1;
COMP "out_r1_w" LOCATE = SITE "P112" LEVEL 1;
COMP "out_r3_r" LOCATE = SITE "P124" LEVEL 1;
COMP "out_r2_w" LOCATE = SITE "P113" LEVEL 1;
COMP "out_r3_w" LOCATE = SITE "P116" LEVEL 1;
COMP "out_clk_internal" LOCATE = SITE "P93" LEVEL 1;
COMP "out_flags_w" LOCATE = SITE "P105" LEVEL 1;
COMP "out_flags_z" LOCATE = SITE "P22" LEVEL 1;
COMP "out_bus1" LOCATE = SITE "P131" LEVEL 1;
COMP "out_clkc" LOCATE = SITE "P86" LEVEL 1;
COMP "out_clkr" LOCATE = SITE "P85" LEVEL 1;
COMP "out_clkw" LOCATE = SITE "P83" LEVEL 1;
COMP "out_ir_w" LOCATE = SITE "P98" LEVEL 1;
COMP "out_usart1_tx" LOCATE = SITE "P143" LEVEL 1;
COMP "out_ram_a_w" LOCATE = SITE "P104" LEVEL 1;
COMP "in_manual_input_o<0>" LOCATE = SITE "P54" LEVEL 1;
COMP "in_manual_input_o<1>" LOCATE = SITE "P57" LEVEL 1;
COMP "in_manual_input_o<2>" LOCATE = SITE "P58" LEVEL 1;
COMP "in_manual_input_o<3>" LOCATE = SITE "P59" LEVEL 1;
COMP "in_manual_input_o<4>" LOCATE = SITE "P60" LEVEL 1;
COMP "in_manual_input_o<5>" LOCATE = SITE "P62" LEVEL 1;
COMP "in_manual_input_o<6>" LOCATE = SITE "P66" LEVEL 1;
COMP "in_manual_input_o<7>" LOCATE = SITE "P69" LEVEL 1;
COMP "out_sysbus<0>" LOCATE = SITE "P32" LEVEL 1;
COMP "out_sysbus<1>" LOCATE = SITE "P33" LEVEL 1;
COMP "out_sysbus<2>" LOCATE = SITE "P34" LEVEL 1;
COMP "out_sysbus<3>" LOCATE = SITE "P35" LEVEL 1;
COMP "out_sysbus<4>" LOCATE = SITE "P40" LEVEL 1;
COMP "out_sysbus<5>" LOCATE = SITE "P43" LEVEL 1;
COMP "out_sysbus<6>" LOCATE = SITE "P50" LEVEL 1;
COMP "out_sysbus<7>" LOCATE = SITE "P51" LEVEL 1;
TIMEGRP sys_clk_pin = BEL "XLXI_105/XLXI_2/periods_7" BEL
        "XLXI_105/XLXI_2/periods_6" BEL "XLXI_105/XLXI_2/periods_5" BEL
        "XLXI_105/XLXI_2/periods_4" BEL "XLXI_105/XLXI_2/periods_3" BEL
        "XLXI_105/XLXI_2/periods_2" BEL "XLXI_105/XLXI_2/periods_1" BEL
        "XLXI_105/XLXI_2/periods_0" BEL "XLXI_105/XLXI_2/half_0" BEL
        "XLXI_105/XLXI_2/usart_clk" BEL "XLXI_51/XLXI_2/I_Q7/I_36_35" BEL
        "XLXI_51/XLXI_2/I_Q6/I_36_35" BEL "XLXI_51/XLXI_2/I_Q5/I_36_35" BEL
        "XLXI_51/XLXI_2/I_Q4/I_36_35" BEL "XLXI_51/XLXI_2/I_Q3/I_36_35" BEL
        "XLXI_51/XLXI_2/I_Q2/I_36_35" BEL "XLXI_51/XLXI_2/I_Q1/I_36_35" BEL
        "XLXI_51/XLXI_2/I_Q0/I_36_35" BEL "XLXI_51/XLXI_1/I_Q15/I_36_35" BEL
        "XLXI_51/XLXI_1/I_Q14/I_36_35" BEL "XLXI_51/XLXI_1/I_Q13/I_36_35" BEL
        "XLXI_51/XLXI_1/I_Q12/I_36_35" BEL "XLXI_51/XLXI_1/I_Q11/I_36_35" BEL
        "XLXI_51/XLXI_1/I_Q10/I_36_35" BEL "XLXI_51/XLXI_1/I_Q9/I_36_35" BEL
        "XLXI_51/XLXI_1/I_Q8/I_36_35" BEL "XLXI_51/XLXI_1/I_Q7/I_36_35" BEL
        "XLXI_51/XLXI_1/I_Q6/I_36_35" BEL "XLXI_51/XLXI_1/I_Q5/I_36_35" BEL
        "XLXI_51/XLXI_1/I_Q4/I_36_35" BEL "XLXI_51/XLXI_1/I_Q3/I_36_35" BEL
        "XLXI_51/XLXI_1/I_Q2/I_36_35" BEL "XLXI_51/XLXI_1/I_Q1/I_36_35" BEL
        "XLXI_51/XLXI_1/I_Q0/I_36_35" BEL
        "XLXI_7/XLXI_926/XLXI_1/XLXI_2/I_Q8/I_36_35" BEL
        "XLXI_7/XLXI_926/XLXI_1/XLXI_2/I_Q7/I_36_35" BEL
        "XLXI_7/XLXI_926/XLXI_1/XLXI_2/I_Q6/I_36_35" BEL
        "XLXI_7/XLXI_926/XLXI_1/XLXI_2/I_Q5/I_36_35" BEL
        "XLXI_7/XLXI_926/XLXI_1/XLXI_2/I_Q4/I_36_35" BEL
        "XLXI_7/XLXI_926/XLXI_1/XLXI_2/I_Q3/I_36_35" BEL
        "XLXI_7/XLXI_926/XLXI_1/XLXI_2/I_Q2/I_36_35" BEL
        "XLXI_7/XLXI_926/XLXI_1/XLXI_2/I_Q1/I_36_35" BEL
        "XLXI_7/XLXI_926/XLXI_1/XLXI_2/I_Q0/I_36_35" BEL
        "XLXI_7/XLXI_926/XLXI_1/XLXI_1/I_Q15/I_36_35" BEL
        "XLXI_7/XLXI_926/XLXI_1/XLXI_1/I_Q14/I_36_35" BEL
        "XLXI_7/XLXI_926/XLXI_1/XLXI_1/I_Q13/I_36_35" BEL
        "XLXI_7/XLXI_926/XLXI_1/XLXI_1/I_Q12/I_36_35" BEL
        "XLXI_7/XLXI_926/XLXI_1/XLXI_1/I_Q11/I_36_35" BEL
        "XLXI_7/XLXI_926/XLXI_1/XLXI_1/I_Q10/I_36_35" BEL
        "XLXI_7/XLXI_926/XLXI_1/XLXI_1/I_Q9/I_36_35" BEL
        "XLXI_7/XLXI_926/XLXI_1/XLXI_1/I_Q8/I_36_35" BEL
        "XLXI_7/XLXI_926/XLXI_1/XLXI_1/I_Q7/I_36_35" BEL
        "XLXI_7/XLXI_926/XLXI_1/XLXI_1/I_Q6/I_36_35" BEL
        "XLXI_7/XLXI_926/XLXI_1/XLXI_1/I_Q5/I_36_35" BEL
        "XLXI_7/XLXI_926/XLXI_1/XLXI_1/I_Q4/I_36_35" BEL
        "XLXI_7/XLXI_926/XLXI_1/XLXI_1/I_Q3/I_36_35" BEL
        "XLXI_7/XLXI_926/XLXI_1/XLXI_1/I_Q2/I_36_35" BEL
        "XLXI_7/XLXI_926/XLXI_1/XLXI_1/I_Q1/I_36_35" BEL
        "XLXI_7/XLXI_926/XLXI_1/XLXI_1/I_Q0/I_36_35" BEL
        "XLXI_7/XLXI_927/XLXI_1/XLXI_2/I_Q6/I_36_35" BEL
        "XLXI_7/XLXI_927/XLXI_1/XLXI_2/I_Q5/I_36_35" BEL
        "XLXI_7/XLXI_927/XLXI_1/XLXI_2/I_Q4/I_36_35" BEL
        "XLXI_7/XLXI_927/XLXI_1/XLXI_2/I_Q3/I_36_35" BEL
        "XLXI_7/XLXI_927/XLXI_1/XLXI_2/I_Q2/I_36_35" BEL
        "XLXI_7/XLXI_927/XLXI_1/XLXI_2/I_Q1/I_36_35" BEL
        "XLXI_7/XLXI_927/XLXI_1/XLXI_2/I_Q0/I_36_35" BEL
        "XLXI_7/XLXI_927/XLXI_1/XLXI_1/I_Q15/I_36_35" BEL
        "XLXI_7/XLXI_927/XLXI_1/XLXI_1/I_Q14/I_36_35" BEL
        "XLXI_7/XLXI_927/XLXI_1/XLXI_1/I_Q13/I_36_35" BEL
        "XLXI_7/XLXI_927/XLXI_1/XLXI_1/I_Q12/I_36_35" BEL
        "XLXI_7/XLXI_927/XLXI_1/XLXI_1/I_Q11/I_36_35" BEL
        "XLXI_7/XLXI_927/XLXI_1/XLXI_1/I_Q10/I_36_35" BEL
        "XLXI_7/XLXI_927/XLXI_1/XLXI_1/I_Q9/I_36_35" BEL
        "XLXI_7/XLXI_927/XLXI_1/XLXI_1/I_Q8/I_36_35" BEL
        "XLXI_7/XLXI_927/XLXI_1/XLXI_1/I_Q7/I_36_35" BEL
        "XLXI_7/XLXI_927/XLXI_1/XLXI_1/I_Q6/I_36_35" BEL
        "XLXI_7/XLXI_927/XLXI_1/XLXI_1/I_Q5/I_36_35" BEL
        "XLXI_7/XLXI_927/XLXI_1/XLXI_1/I_Q4/I_36_35" BEL
        "XLXI_7/XLXI_927/XLXI_1/XLXI_1/I_Q3/I_36_35" BEL
        "XLXI_7/XLXI_927/XLXI_1/XLXI_1/I_Q2/I_36_35" BEL
        "XLXI_7/XLXI_927/XLXI_1/XLXI_1/I_Q1/I_36_35" BEL
        "XLXI_7/XLXI_927/XLXI_1/XLXI_1/I_Q0/I_36_35" BEL
        "XLXI_7/XLXI_931/XLXI_1/XLXI_2/I_Q3/I_36_35" BEL
        "XLXI_7/XLXI_931/XLXI_1/XLXI_2/I_Q2/I_36_35" BEL
        "XLXI_7/XLXI_931/XLXI_1/XLXI_2/I_Q1/I_36_35" BEL
        "XLXI_7/XLXI_931/XLXI_1/XLXI_2/I_Q0/I_36_35" BEL
        "XLXI_7/XLXI_931/XLXI_1/XLXI_1/I_Q15/I_36_35" BEL
        "XLXI_7/XLXI_931/XLXI_1/XLXI_1/I_Q14/I_36_35" BEL
        "XLXI_7/XLXI_931/XLXI_1/XLXI_1/I_Q13/I_36_35" BEL
        "XLXI_7/XLXI_931/XLXI_1/XLXI_1/I_Q12/I_36_35" BEL
        "XLXI_7/XLXI_931/XLXI_1/XLXI_1/I_Q11/I_36_35" BEL
        "XLXI_7/XLXI_931/XLXI_1/XLXI_1/I_Q10/I_36_35" BEL
        "XLXI_7/XLXI_931/XLXI_1/XLXI_1/I_Q9/I_36_35" BEL
        "XLXI_7/XLXI_931/XLXI_1/XLXI_1/I_Q8/I_36_35" BEL
        "XLXI_7/XLXI_931/XLXI_1/XLXI_1/I_Q7/I_36_35" BEL
        "XLXI_7/XLXI_931/XLXI_1/XLXI_1/I_Q6/I_36_35" BEL
        "XLXI_7/XLXI_931/XLXI_1/XLXI_1/I_Q5/I_36_35" BEL
        "XLXI_7/XLXI_931/XLXI_1/XLXI_1/I_Q4/I_36_35" BEL
        "XLXI_7/XLXI_931/XLXI_1/XLXI_1/I_Q3/I_36_35" BEL
        "XLXI_7/XLXI_931/XLXI_1/XLXI_1/I_Q2/I_36_35" BEL
        "XLXI_7/XLXI_931/XLXI_1/XLXI_1/I_Q1/I_36_35" BEL
        "XLXI_7/XLXI_931/XLXI_1/XLXI_1/I_Q0/I_36_35" BEL
        "XLXI_7/XLXI_937/XLXI_1/XLXI_1/I_Q12/I_36_35" BEL
        "XLXI_7/XLXI_937/XLXI_1/XLXI_1/I_Q11/I_36_35" BEL
        "XLXI_7/XLXI_937/XLXI_1/XLXI_1/I_Q10/I_36_35" BEL
        "XLXI_7/XLXI_937/XLXI_1/XLXI_1/I_Q9/I_36_35" BEL
        "XLXI_7/XLXI_937/XLXI_1/XLXI_1/I_Q8/I_36_35" BEL
        "XLXI_7/XLXI_937/XLXI_1/XLXI_1/I_Q7/I_36_35" BEL
        "XLXI_7/XLXI_937/XLXI_1/XLXI_1/I_Q6/I_36_35" BEL
        "XLXI_7/XLXI_937/XLXI_1/XLXI_1/I_Q5/I_36_35" BEL
        "XLXI_7/XLXI_937/XLXI_1/XLXI_1/I_Q4/I_36_35" BEL
        "XLXI_7/XLXI_937/XLXI_1/XLXI_1/I_Q3/I_36_35" BEL
        "XLXI_7/XLXI_937/XLXI_1/XLXI_1/I_Q2/I_36_35" BEL
        "XLXI_7/XLXI_937/XLXI_1/XLXI_1/I_Q1/I_36_35" BEL
        "XLXI_7/XLXI_937/XLXI_1/XLXI_1/I_Q0/I_36_35" BEL
        "in_clk_IBUF_BUFG.GCLKMUX" BEL "in_clk_IBUF_BUFG";
TS_sys_clk_pin = PERIOD TIMEGRP "sys_clk_pin" 50 MHz HIGH 50%;
SCHEMATIC END;

