##################################################################################
## External Clock
##################################################################################
NET "in_clk" TNM_NET = "sys_clk_pin";
NET "in_clk" LOC = P56;
TIMESPEC TS_sys_clk_pin = PERIOD "sys_clk_pin" 50 MHz HIGH 50 %;

##################################################################################
## Custom reset (external pull-up)
##################################################################################
#NET "rst_in" LOC = C3 | IOSTANDARD = "LVCMOS33"; ## RESET pushbutton
## RESET pushbutton
NET "in_rst" LOC = P24;

##################################################################################
## LED Pins 
##################################################################################
NET "out_clk_internal" LOC = P93;  ##  PIN3
NET "out_clkc" LOC = P86;  ##  PIN3
NET "out_clkr" LOC = P85;  ##  PIN3
NET "out_clkw" LOC = P83;  ##  PIN3
NET "out_s1" LOC = P82;  ##  PIN3
NET "out_s2" LOC = P81;  ##  PIN3
NET "out_s3" LOC = P77;  ##  PIN3
NET "out_s4" LOC = P76;  ##  PIN3
NET "out_s5" LOC = P75;  ##  PIN3
NET "out_s6" LOC = P74;  ##  PIN3

NET "out_flags_C_out" LOC = P26;  ##  PIN3
NET "out_flags_gt" LOC = P25;  ##  PIN3
NET "out_flags_eq" LOC = P23;  ##  PIN3
NET "out_flags_z" LOC = P22;  ##  PIN3


NET "out_sysbus[7]" LOC = P51;  ##  PIN3
NET "out_sysbus[6]" LOC = P50;  ##  PIN3
NET "out_sysbus[5]" LOC = P43;  ##  PIN3
NET "out_sysbus[4]" LOC = P40;  ##  PIN3
NET "out_sysbus[3]" LOC = P35;  ##  PIN3
NET "out_sysbus[2]" LOC = P34;  ##  PIN3
NET "out_sysbus[1]" LOC = P33;  ##  PIN3
NET "out_sysbus[0]" LOC = P32;  ##  PIN3


NET "in_is_clk_veryhigh" LOC = P92;  ##  PIN3 1KHz
NET "in_is_clk_external" LOC = P91;  ##  PIN3 1Stg
NET "in_is_clk_high" LOC = P89;  ##  PIN3 1Ins
NET "in_is_clk_low" LOC = P88;   ## PIN3 1Hz
NET "in_is_clk_manual" LOC = P87;  ##  PIN3 Man
NET "in_clk_manual" LOC = P95;  ##  PIN3


NET "in_manual_input_r" LOC = P7;  ##  PIN3 
NET "in_r3_r" LOC = P8;  ##  PIN3 
NET "in_r2_r" LOC = P10;  ##  PIN3 
NET "in_r1_r" LOC = P12;  ##  PIN3 
NET "in_r0_r" LOC = P14;  ##  PIN3 
NET "in_ram_r" LOC = P15;  ##  PIN3 
NET "in_acc_r" LOC = P16;  ##  PIN3 
NET "in_ir_r" LOC = P17;  ##  PIN3 
NET "in_iar_r" LOC = P18;  ##  PIN3 

NET "in_read_reg_en" LOC = P20;  ##  PIN3

NET "out_can_read" LOC = P21;  ##  PIN3

NET "out_r3_r" LOC = P124;  ##  
NET "out_r2_r" LOC = P125;
NET "out_r1_r" LOC = P126;
NET "out_r0_r" LOC = P130;
NET "out_bus1" LOC = P131;
NET "out_ram_r" LOC = P132;
NET "out_acc_r" LOC = P134;
NET "out_iar_r" LOC = P135;

NET "out_r3_w" LOC = P116;
NET "out_r2_w" LOC = P113;
NET "out_r1_w" LOC = P112;
NET "out_r0_w" LOC = P106;
NET "out_flags_w" LOC = P105;
NET "out_ram_a_w" LOC = P104;

NET "out_temp_w" LOC = P103;
NET "out_ir_w" LOC = P98;
NET "out_ram_w" LOC = P97;
NET "out_acc_w" LOC = P96;
NET "out_iar_w" LOC = P94;


NET "in_write_reg_en" LOC = P2;
NET "out_can_write" LOC = P3;

NET "in_temp_w" LOC = P123;
NET "in_r0_w" LOC = P122;
NET "in_r1_w" LOC = P120;
NET "in_r2_w" LOC = P119;
NET "in_r3_w" LOC = P117;

NET "in_is_bus1_w" LOC = P6;
NET "in_iar_w" LOC = P142;
NET "in_ir_w" LOC = P141; 
NET "in_acc_w" LOC = P140;
NET "in_ram_a_w" LOC = P139;

NET "in_ram_w" LOC = P136;
NET "out_is_bus1_w" LOC = P5;
NET "in_bus1" LOC = P4;

NET "out_usart1_tx" LOC = P52;

#F14 -- free


#NET "in_manual_input_o[0]" LOC = P54;
#NET "in_manual_input_o[1]" LOC = P58;
#NET "in_manual_input_o[2]" LOC = P59;
#NET "in_manual_input_o[3]" LOC = P66;
#NET "in_manual_input_o[4]" LOC = P29;
#NET "in_manual_input_o[5]" LOC = P36;
#NET "in_manual_input_o[6]" LOC = P69;
#NET "in_manual_input_o[7]" LOC = P41;


NET "in_manual_input_o[0]" LOC = P38;
NET "in_manual_input_o[1]" LOC = P41;
NET "in_manual_input_o[2]" LOC = P47;
NET "in_manual_input_o[3]" LOC = P54;
NET "in_manual_input_o[4]" LOC = P58;
NET "in_manual_input_o[5]" LOC = P59;
NET "in_manual_input_o[6]" LOC = P66;
NET "in_manual_input_o[7]" LOC = P69;


#NET "monitor[0]" LOC = P4;
#NET "monitor[1]" LOC = N5;
#NET "monitor[2]" LOC = P5;
#NET "monitor[3]" LOC = M6;
#NET "monitor[4]" LOC = D6;
#NET "monitor[5]" LOC = E7;
#NET "monitor[6]" LOC = D5;
#NET "monitor[7]" LOC = F9;
