##################################################################################
## External Clock
##################################################################################
NET "clk_in" TNM_NET = "sys_clk_pin";
NET "clk_in" LOC = T8;
TIMESPEC TS_sys_clk_pin = PERIOD "sys_clk_pin" 50 MHz HIGH 50 %;

##################################################################################
## Custom reset (external pull-up)
##################################################################################
#NET "rst_in" LOC = C3 | IOSTANDARD = "LVCMOS33"; ## RESET pushbutton
## RESET pushbutton
NET "rst" LOC = C3;

##################################################################################
## LED Pins 
##################################################################################
NET "clk_out" LOC = K16 | IOSTANDARD = "LVCMOS33" ;  ##  PIN3